html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif; }
  html section {
    padding-top: 3rem; }

nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .2s;
  background-color: #119948;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav .name-plate {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-left: 2.5rem;
    text-decoration: none; }
  nav ul {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 2.5rem; }
    nav ul li {
      display: inline-block;
      cursor: pointer; }
      nav ul li a {
        color: white;
        padding: 6px 12px;
        text-decoration: none; }
      nav ul li .nav-icon {
        font-size: 1.5rem;
        width: 12px;
        margin: 0; }
      nav ul li .github {
        color: black; }
      nav ul li .linkedin {
        color: #1171ab; }
      nav ul li .vimeo {
        color: #1daeec; }

.title-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #119948;
  display: flex;
  align-items: center; }
  .title-section .title-card {
    z-index: 101;
    margin: auto;
    width: 50%;
    text-align: center; }
    .title-section .title-card .emphasis {
      font-weight: 700;
      color: #444444; }
    .title-section .title-card .header {
      font-size: 4rem;
      color: white; }
    .title-section .title-card .sub-header {
      font-size: 1.8rem; }
  .title-section a {
    text-decoration: none; }
  .title-section .chevron {
    z-index: 101;
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 2rem;
    color: white; }

.section-title {
  font-size: 2rem;
  margin: 0 auto 3rem;
  text-align: center;
  font-weight: 700;
  text-decoration: underline; }

.about-section {
  position: relative;
  height: 700px; }

.projects-section {
  position: relative;
  background-color: #f0f0f0; }
  .projects-section .projects-container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .projects-section .projects-container .project {
      width: 500px;
      border: 1px solid grey;
      background-color: white;
      margin-bottom: 1rem; }
      .projects-section .projects-container .project .project-image {
        float: left;
        width: 200px;
        display: inline-block;
        background-color: grey; }
        .projects-section .projects-container .project .project-image img {
          width: 100%;
          height: 100%; }
      .projects-section .projects-container .project .project-details {
        width: 250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem; }
        .projects-section .projects-container .project .project-details .project-title {
          margin-bottom: .5rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700; }
        .projects-section .projects-container .project .project-details .project-description {
          margin-bottom: .5rem; }
        .projects-section .projects-container .project .project-details .project-tech {
          color: #444444;
          font-style: italic; }

.resume-section {
  position: relative;
  background-color: white; }
  .resume-section .res-item {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-content: center; }
    .resume-section .res-item .company-image {
      position: absolute;
      left: -160px;
      width: 120px; }
      .resume-section .res-item .company-image img {
        width: 100%;
        height: 100%; }
    .resume-section .res-item .res-item-inner {
      border-left: 1px #444444 solid;
      height: 100px;
      padding: 0rem 1rem 8rem 1rem; }
      .resume-section .res-item .res-item-inner .timeline-circle {
        position: absolute;
        left: -7px;
        top: 0px;
        color: #119948; }
      .resume-section .res-item .res-item-inner .res-item-details {
        display: inline-block;
        float: left;
        width: 39.5%; }
        .resume-section .res-item .res-item-inner .res-item-details .res-item-date {
          font-size: .9rem;
          margin-bottom: .5rem; }
        .resume-section .res-item .res-item-inner .res-item-details .res-item-company {
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: .4rem; }
        .resume-section .res-item .res-item-inner .res-item-details .res-item-role {
          font-style: italic;
          font-size: 1rem;
          margin-bottom: .8rem; }
        .resume-section .res-item .res-item-inner .res-item-details .res-item-city {
          font-weight: 200; }
      .resume-section .res-item .res-item-inner .res-item-desc {
        width: 59%;
        display: inline-block;
        float: right; }
        .resume-section .res-item .res-item-inner .res-item-desc ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          .resume-section .res-item .res-item-inner .res-item-desc ul li {
            text-indent: -10px;
            margin-bottom: .5rem; }
          .resume-section .res-item .res-item-inner .res-item-desc ul li::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 8px;
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 700;
            margin-right: .5rem;
            color: #119948; }
      .resume-section .res-item .res-item-inner .timeline-end {
        position: absolute;
        bottom: 0;
        left: -25px;
        width: 50px;
        border-top: 2px solid #444444; }

/*# sourceMappingURL=main.css.map */
