*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: rgba(16, 152, 72, 255);
    --text-color: #333333;
    --background-color: white;
    --border-color: black;;
    --base-font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--base-font-size);
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center;
}

.vertical-center-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    gap: 2vw;
    width: 75%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #000;
}

.profile-picture {
    max-width: 200px;
    height: auto;
    border-radius: 50%; 
    border: 2px solid var(--border-color);
}

h1 {
    color: var(--green);
    font-size: 2.4rem;  
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.6rem;  
}

span {
    color: var(--green);
    font-style: italic;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4vw; 
}

.social-links img {
    width: 2rem;
    max-width: 32px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-links img:hover,
.social-links img:focus {
    transform: scale(1.1); 
}

@media screen and (min-width: 320px) { 
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    p {
        font-size: 1rem;
    }
    .vertical-center-container {
        gap: 4vw;
        width: 80%
    }
}

@media screen and (min-width: 568px) and (max-width: 1000px) and (orientation: landscape) {
    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 600px) { 
    p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) { 
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    .vertical-center-container {
        gap: 2vw;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
